* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $primary-color;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}