// ==================== DEFAULT STYLES ====================

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: $primary-font;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $primary-color;
}

section {
    padding: 0 15px;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button, input, textarea {
    border: none;
}

.wrapper {
    max-width: $wrapper-max;
    margin: 0 auto;
}

// ==================== CONFIGURABLE STYLES ====================

.btn--default {
    @include button-style($secondary-color);
}

.panel--default {
    @include panel-style($accent-color-dkblue);
}

