* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    max-width: $wrapper-max;
    margin: 0 auto;
}