*, textarea, input, button {
    font-family: $primary-font;
}

h1, h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2rem;
}

p, span, a, button, input, textarea {
    font-size: 1.6rem;
}

p {
    line-height: 1.5;
}

i {
    font-size: 4rem;
}

.icon-briefcase,
.icon-graduation {
    font-size: 2.2rem;
    color: $secondary-color;
    background-color: $accent-color-dkblue;
}

.navbar__ul-menu {
    // Issue with chrome browser prevents application of DRY code.
    .icon-home,
    .icon-user,
    .icon-layers,
    .icon-briefcase,
    .icon-bubbles {
        font-size: 1.6rem;
        color: $tertiary-color;
        margin-right: 15px;
    }
    
}

.to-top i {
    font-size: 2.5rem;
}

.home__div-text-profile i {
    font-size: 3rem;
}