$primary-color: #353353;
$secondary-color: #FF4C60;
$tertiary-color: #FFD15C;

$accent-color-ltblue: #454360;
$accent-color-dkblue: #302f4e;

$accent-text-color: #8b88b1;

$primary-font: 'Rubik', sans-serif;

$wrapper-max: 1280px;
$tablet-width: 769px;
$mobile-width: 481px;

@mixin button-style($btn-color) {
    background-color: $btn-color;
    border-radius: 24px;
    padding: 12px 28px;
    margin-top: 20px;
    font-weight: bold;
}

@mixin panel-style($panel-color) {
    background-color: $panel-color;
    border-radius: 20px;
    padding: 30px;
}