@import 'utils';
@import 'variables';
@import 'global';
@import 'typography';
@import 'navbar';
@import 'hamburger';
@import 'responsive';

// ==================== COMMON STYLES ====================
.about,
.projects,
.experience,
.contact {
    position: relative;
    margin-top: 100px;

    .dot--accent {
        align-self: flex-start;
        position: absolute;
        top: -10px;
    }

    h2 {
        align-self: flex-start;
        margin: 0 15px 50px;
    }
    
    // REMOVE LATER - ONLY FOR VISUALIZATION AID
    min-height: 50vh;
}

.logo {
    width: 100px;
}

// ==================== BIO SECTION ====================
.bio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        display: inline-block;

        a {
            margin: 20px 10px 0;
        }
    }
}

.bio__div-img-profile {
    width: 100px;
    background-color: #fff;
}

.bio__div-img-profile, 
.bio__div-img-profile img {
    border-radius: 50%;
}

// ==================== ABOUT SECTION ====================
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__ul-stats {
    display: flex;
    // justify-content: space-evenly;
}

.about__ul-skills {
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-bottom: 50px;
    }
}

.about__div-img-profile {
    width: 150px;
    background-color: $accent-color-ltblue;
}

.about__div-img-profile, 
.about__div-img-profile img {
    border-radius: 50%;
}

.about__div-text-profile {
    padding: 25px;
}

// ==================== PROJECTS SECTION ====================
.experience__div-academic {
    margin-bottom: 30px;
}


// ==================== EXPERIENCE SECTION ====================
.experience__div-academic li:first-child,
.experience__div-work li:first-child {
    margin-bottom: 50px;
}

// ==================== CONTACT SECTION ====================
.contact__div-info {
    background-image: url("./../assets/map-light.png");
    background-repeat: no-repeat;
    min-height: 200px;
    
    h3 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}

form {
    display: flex;
    flex-direction: column;
    
    input {
        height: 50px;
        margin-bottom: 30px;
    }

    input, textarea {
        color: black;
        border-radius: 30px;
    }

    input {
        padding: 30px 20px;
    }

    textarea {
        padding: 15px 20px;
    }

    textarea {
        resize: vertical;
    }

    button {
        align-self: flex-start;
    }
}