@import 'utils';
@import 'variables';
@import 'global';
@import 'typography';
@import 'navbar';
@import 'hamburger';
@import 'parallax';
@import 'typewriter';


// ==================== COMMON STYLES ====================
.dot-container {
    position: relative;
    align-self: flex-start;

    .dot-accent {
        position: absolute;
        top: -10px;
    }

    h2 {
        margin: 0 15px 50px;
    }
}

.spacer {
    height: 100px;
}

.logo {
    width: 100px;
}

.logo-skill {
    width: 70px;
}

.animation-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.line-vertical {
    position: absolute;
    width: 1px;
    background-color: #FF4C60;
    top: 30px;
    bottom: 30px;
    left: 34px;
}

@keyframes live {
    0% {
        color: $primary-color;
    }

    100% {
        color: $secondary-color;
    }
}

.rec--effect,
.rec-outline {
    margin-left: 8px;
    margin-top: 4px;
}

.rec--effect {
    animation: live 3s ease-in-out alternate infinite;
    font-size: 2.6rem;
    padding: 3px;
}

.rec-outline {
    font-size: 3.2rem;
}
// ==================== home SECTION ====================
.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__div-text-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;

    h1 {
        margin: 12px 0;
    }
}

.home__div-img-profile {
    width: 100px;
    background-color: #fff;
}

.home__div-img-profile, 
.home__div-img-profile img {
    border-radius: 50%;
}

// ==================== ABOUT SECTION ====================
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        margin-top: 50px;
    }
}

.about__div-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__div-text-profile {
    margin-top: 20px;
}

.about__ul-stats {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
    li {
        display: flex;
        position: relative;
        margin-left: 70px;
        margin-top: 20px;

        i {
            position: absolute;
            left: -70px;
        }
    }
}

.about__ul-skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-bottom: 50px;
        text-align: center;
    }
}

.about__div-img-profile {
    width: 150px;
    background-color: $accent-color-ltblue;
}

.about__div-img-profile, 
.about__div-img-profile img {
    border-radius: 50%;
}

.about__div-text-profile {
    padding: 25px;
}

// ==================== PROJECTS SECTION ====================
.projects {
    a {
        display: block;
    }
}

.projects__div-thumbnail,
.mask {
    border-radius: 20px;
    min-height: 250px;
}

.projects__div-thumbnail {
    margin-bottom: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mydebugpal {
    background-image: url("./../assets/project-mydebugpal.jpg");
}

.sportspot {
    background-image: url("./../assets/project-sportspot.jpg");
}

.gridxdrop {
    background-image: url("./../assets/project-gridxdrop.jpg");
}

.bikerland {
    background-image: url("./../assets/project-bikerland.jpg");
}

.mask {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.mask:hover {
    opacity: 1;
}

// ==================== EXPERIENCE SECTION ====================
.experience__div-academic,
.experience__div-work {
    position: relative;

    ul {
        margin-left: 40px;
    }

    li {
        position: relative;
    }

    i {
        position: absolute;
        left: -47px;
        z-index: 10;
    }
}

.experience__div-academic {
    margin-bottom: 30px;
}

.experience__div-academic li:first-child,
.experience__div-work li:first-child {
    margin-bottom: 50px;
}

.year {
    color: $accent-text-color;
    font-size: 1.4rem;
}
// ==================== CONTACT SECTION ====================
.contact__div-info {
    background-image: url("./../assets/map-light.png");
    background-repeat: no-repeat;
    min-height: 200px;
    
    h3 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}

form {
    display: flex;
    flex-direction: column;
    
    input {
        height: 50px;
        margin-bottom: 30px;
    }

    input, textarea {
        color: black;
        border-radius: 30px;
    }

    input {
        padding: 30px 20px;
    }

    textarea {
        padding: 15px 20px;
    }

    textarea {
        resize: vertical;
    }

    button {
        align-self: flex-start;
    }
}

footer {
    margin-top: 50px;
    text-align: center;
}

// Must be imported last to prevent undesired cascading.
@import 'responsive';