@import 'utils';
@import 'variables';
@import 'global';
@import 'typography';

.bio__div-img-profile {
    width: 150px;
    background-color: white;
}

.bio__div-img-profile, 
.bio__div-img-profile img {
    border-radius: 50%;
}

.logo {
    width: 100px;
}