html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #353353;
}

section {
  padding: 0 15px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button, input, textarea {
  border: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.desktop--only {
  display: none;
}

.btn--default {
  background-color: #FF4C60;
  border-radius: 24px;
  padding: 12px 28px;
  margin-top: 20px;
  font-weight: bold;
}

.panel--default {
  background-color: #302f4e;
  border-radius: 20px;
  padding: 30px;
}

.link--default {
  color: #FF4C60;
}

*, textarea, input, button {
  font-family: "Rubik", sans-serif;
}

h1, h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

p, span, a, button, input, textarea {
  font-size: 1.6rem;
}

p {
  line-height: 1.5;
}

i {
  font-size: 4rem;
}

.icon-briefcase,
.icon-graduation {
  font-size: 2.2rem;
  color: #FF4C60;
  background-color: #302f4e;
}

.navbar__ul-menu i {
  font-size: 1.6rem;
  color: #FFD15C;
  margin-right: 15px;
}

.navbar {
  background-color: #353353;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 10px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
}

.navbar__div-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__div-img-logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navbar__input-check {
  position: absolute;
  opacity: 0;
  top: 28px;
  right: 29px;
}

.navbar__input-check + nav {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

.navbar__input-check:checked + nav {
  height: 210px;
}

.navbar__ul-menu a {
  display: block;
  padding: 10px 0;
  margin-right: 50px;
  font-weight: bold;
}

.navbar__ul-menu * + * {
  margin-top: 5px;
}

.navbar__div-hamburger {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.navbar__div-hamburger-strokes {
  width: 25px;
  margin: 8px 12px;
}

.navbar__div-hamburger-strokes * + * {
  margin-top: 7px;
}

.navbar__div-hamburger-strokes span {
  display: block;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}

.parallax {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallax img {
  position: absolute;
}

.parallax .shape1 {
  left: 10%;
  top: 10%;
  width: 30px;
}

.parallax .shape2 {
  left: 15%;
  top: 30%;
  width: 30px;
}

.parallax .shape3 {
  left: 20%;
  bottom: 30%;
  width: 30px;
}

.parallax .shape4 {
  right: 25%;
  bottom: 35%;
  width: 25px;
}

.parallax .shape5 {
  left: 10%;
  bottom: 10%;
  width: 25px;
}

.parallax .shape6 {
  top: 20%;
  right: 30%;
  width: 50px;
}

.parallax .shape7 {
  left: 40%;
  bottom: 10%;
  width: 30px;
}

.parallax .shape8 {
  right: 10%;
  top: 10%;
  width: 30px;
}

.parallax .shape9 {
  right: 30%;
  bottom: 20%;
  width: 30px;
}

.parallax .shape10 {
  bottom: 10%;
  right: 10%;
  width: 50px;
}

.parallax .shape11 {
  top: 45%;
  right: 20%;
  width: 30px;
}

.dot-container {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.dot-container .dot-accent {
  position: absolute;
  top: -10px;
}

.dot-container h2 {
  margin: 0 15px 50px;
}

.spacer {
  height: 100px;
}

.logo {
  width: 100px;
}

.logo-skill {
  width: 70px;
}

.animation-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.line-vertical {
  position: absolute;
  width: 1px;
  background-color: #FF4C60;
  top: 30px;
  bottom: 30px;
  left: 34px;
}

@-webkit-keyframes live {
  0% {
    color: #353353;
  }
  100% {
    color: #FF4C60;
  }
}

@keyframes live {
  0% {
    color: #353353;
  }
  100% {
    color: #FF4C60;
  }
}

.rec--effect,
.rec-outline {
  margin-left: 8px;
  margin-top: 4px;
}

.rec--effect {
  -webkit-animation: live 3s ease-in-out alternate infinite;
          animation: live 3s ease-in-out alternate infinite;
  font-size: 2.6rem;
  padding: 3px;
}

.rec-outline {
  font-size: 3.2rem;
}

.bio {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio__div-text-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.bio__div-text-profile h1 {
  margin: 12px 0;
}

.bio__div-img-profile {
  width: 100px;
  background-color: #fff;
}

.bio__div-img-profile,
.bio__div-img-profile img {
  border-radius: 50%;
}

.about {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about ul {
  margin-top: 50px;
}

.about__div-profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__div-text-profile {
  margin-top: 20px;
}

.about__ul-stats {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.about__ul-stats li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: 70px;
  margin-top: 20px;
}

.about__ul-stats li i {
  position: absolute;
  left: -70px;
}

.about__ul-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about__ul-skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-bottom: 50px;
  text-align: center;
}

.about__div-img-profile {
  width: 150px;
  background-color: #454360;
}

.about__div-img-profile,
.about__div-img-profile img {
  border-radius: 50%;
}

.about__div-text-profile {
  padding: 25px;
}

.projects a {
  display: block;
}

.projects__div-thumbnail,
.mask {
  border-radius: 20px;
  min-height: 250px;
}

.projects__div-thumbnail {
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mydebugpal {
  background-image: url("./../assets/project-mydebugpal.jpg");
}

.sportspot {
  background-image: url("./../assets/project-sportspot.jpg");
}

.gridxdrop {
  background-image: url("./../assets/project-gridxdrop.jpg");
}

.bikerland {
  background-image: url("./../assets/project-bikerland.jpg");
}

.mask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.mask:hover {
  opacity: 1;
}

.experience__div-academic,
.experience__div-work {
  position: relative;
}

.experience__div-academic ul,
.experience__div-work ul {
  margin-left: 40px;
}

.experience__div-academic li,
.experience__div-work li {
  position: relative;
}

.experience__div-academic i,
.experience__div-work i {
  position: absolute;
  left: -47px;
  z-index: 10;
}

.experience__div-academic {
  margin-bottom: 30px;
}

.experience__div-academic li:first-child,
.experience__div-work li:first-child {
  margin-bottom: 50px;
}

.year {
  color: #8b88b1;
  font-size: 1.4rem;
}

.contact__div-info {
  background-image: url("./../assets/map-light.png");
  background-repeat: no-repeat;
  min-height: 200px;
}

.contact__div-info h3 {
  margin-bottom: 20px;
}

.contact__div-info p {
  margin-bottom: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  height: 50px;
  margin-bottom: 30px;
}

form input, form textarea {
  color: black;
  border-radius: 30px;
}

form input {
  padding: 30px 20px;
}

form textarea {
  padding: 15px 20px;
}

form textarea {
  resize: vertical;
}

form button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

footer {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 769px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .desktop--only {
    display: inline;
  }
  main,
  footer {
    width: calc(100% - 250px);
  }
  .navbar__div-container label,
  .navbar__input-check {
    display: none;
  }
  .navbar,
  .navbar__input-check + nav {
    min-height: 100vh;
    width: 250px;
  }
  .navbar {
    border-bottom: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 50px 40px;
    right: auto;
  }
  .navbar__ul-menu {
    margin-top: 50px;
  }
  .animation-screen,
  .parallax {
    left: auto;
    right: 0;
    width: calc(100% - 250px);
  }
  .about__div-profile-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__div-img-profile,
  .about__div-text-profile {
    margin: 0 25px;
  }
  .about__div-img-profile {
    min-width: 150px;
  }
  .about__ul-stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__ul-skills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__ul-skills li {
    width: 25%;
  }
  .projects__ul-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projects__ul-list li {
    width: calc(100% / 3 - 20px);
    margin: 10px;
  }
  .gridxdrop {
    background-image: url("./../assets/project-gridxdrop-desktop.jpg");
  }
  .experience__div-panel-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .experience__div-academic,
  .experience__div-work {
    width: calc(50% - 20px);
    margin: 10px;
  }
  .contact__div-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact__div-info {
    width: 35%;
  }
  .contact form {
    width: calc(65% - 30px);
    margin-left: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact form input,
  .contact form textarea {
    width: 100%;
  }
  .contact form input[name=_replyto],
  .contact form input[name=name] {
    width: calc(50% - 10px);
  }
  .contact form input[name=name] {
    margin-right: 20px;
  }
}
